extends layout

block content
  h1= title
  - let items = results;
  each item in items
    - let destination = `dispatch("/vehicle/update?id=${item._id}")`
    div
      p Brand - #{item.Brand}
      p Color - #{item.Color}
      p Year - #{item.Year}
      button.btn(class="btn-primary ml-1", onclick=destination) Update
      br
      br

  script.
    function dispatch(path){
      window.location.href = path
    }